body{
    background-color: lightgray;
}
.border-examples {
      margin-bottom: 20px;
      padding: 10px;
    }
    .dotted-border {
      border: 20px dotted red;
      border-width: 20px;
      border-radius: 5px;
      padding: 5px;
      text-align: center;
    }
    .dashed-border {
      border: 20px dashed blue;
      border-width: 20px;
      border-radius: 5px;
      padding: 5px;
       text-align: center;
    }
    .double-border {
      border: 40px double green;
      border-width: 20px;
      border-radius: 5px;
      padding: 5px;
       text-align: center;
    }
    .groove-border {
      border: 40px groove purple;
      border-width: 20px;
      border-radius: 5px;
      padding: 5px;
       text-align: center;
    }
    .ridge-border {
      border: 40px ridge orange;
      border-width: 20px;
      border-radius: 5px;
      padding: 5px;
       text-align: center;
    }